name: C/C++ CI

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: make TestBuilder
      run: make TestBuilder
    - name: make pebble_testbuild.exe
      run: make pebble_testbuild.exe
    - name: run pebble_testbuild.exe
      run: ./pebble_testbuild.exe --ignore-custom --bytecode
